<template>
  <div class="diets">
    <br>
    <h1 v-if="showEnglish">Get your free meal today!</h1>
    <h1 v-else>Ia-ti meniul gratiut chiar acum!</h1>
    <div class="description">
      <p v-if="showEnglish">
        The healthy menu generator is divided into two classes: the first option allows the user to generate a menu
        for a single day, and the second one is can create a menu for a full week, which mentions the time of the day
        when eating is indicated, and the recipe.
      </p>
      <p v-else>
        Generatorul de meniuri sanatoase se imparte in doua clase: prima optiune permite generarea unui meniu
        pe o singura zi, iar a doua presupune conceperea unuia pe o saptamana intreaga, in care sunt mentionate
        timpul zilei la care este indicata consumarea alimetelor, precum si  reteta felului de mancare respectiv.
      </p>
    </div>

    <div v-if="showEnglish">
      <b-button
        size="lg"
        variant="warning"
        @click="toggleOneDiet"
      >
        Generate one day meal
      </b-button>
      <b-button
        size="lg"
        variant="warning"
        @click="toggleFullDiet"
      >
        Generate one week meal
      </b-button>
    </div>

    <div v-else>
      <b-button
        size="lg"
        variant="warning"
        @click="toggleOneDiet"
      >
        Genereaza mese pe o singura zi
      </b-button>
      <b-button
        size="lg"
        variant="warning"
        @click="toggleFullDiet"
      >
        Genereaza mese pe o intreaga saptamana
      </b-button>
    </div>

    <div v-if="showOneDiet && showEnglish">
      <div class="table-component">
        <br>
        <b-button size="sm" variant="danger" @click="toggleOneDiet">Close</b-button>
        <br>
        <table>
          <thead>
            <tr>
              <th></th>
              <th>Breakfast</th>
              <th>First snack</th>
              <th>Lunch</th>
              <th>Second snack</th>
              <th>Dinner</th>
            </tr>
          </thead>

          <tr>
            <th>Meal</th>
            <td> {{ shuffledBreakfast[0].name }} </td>
            <td> {{ shuffledBeforeLunch[0].name }} </td>
            <td> {{ shuffledLunch[0].name }} </td>
            <td> {{ shuffledAfterLunch[0].name }} </td>
            <td> {{ shuffledDinner[0].name }} </td>
          </tr>

          <tr>
            <th>Recipe</th>
            <td> {{ shuffledBreakfast[0].quantity }} </td>
            <td> {{ shuffledBeforeLunch[0].quantity }} </td>
            <td> {{ shuffledLunch[0].quantity }} </td>
            <td> {{ shuffledAfterLunch[0].quantity }} </td>
            <td> {{ shuffledDinner[0].quantity }} </td>
          </tr>

          <tr>
            <th>Hour</th>
            <td> {{ shuffledBreakfast[0].hour }} </td>
            <td> {{ shuffledBeforeLunch[0].hour }} </td>
            <td> {{ shuffledLunch[0].hour }} </td>
            <td> {{ shuffledAfterLunch[0].hour }} </td>
            <td> {{ shuffledDinner[0].hour }} </td>
          </tr>
        </table>
        <br>
      </div>
    </div>

    <div v-else-if="showOneDiet && !showEnglish">
      <div class="table-component">
        <br>
        <b-button size="sm" variant="danger" @click="toggleOneDiet">Inchide</b-button>
        <br>
        <table>
          <thead>
            <tr>
              <th></th>
              <th>Mic dejun</th>
              <th>Prima gustare</th>
              <th>Pranz</th>
              <th>A doua gustare</th>
              <th>Cina</th>
            </tr>
          </thead>

          <tr>
            <th>Ce vei manca</th>
            <td> {{ shuffledBreakfastRO[0].name }} </td>
            <td> {{ shuffledBeforeLunchRO[0].name }} </td>
            <td> {{ shuffledLunchRO[0].name }} </td>
            <td> {{ shuffledAfterLunchRO[0].name }} </td>
            <td> {{ shuffledDinnerRO[0].name }} </td>
          </tr>

          <tr>
            <th>Reteta</th>
            <td> {{ shuffledBreakfastRO[0].quantity }} </td>
            <td> {{ shuffledBeforeLunchRO[0].quantity }} </td>
            <td> {{ shuffledLunchRO[0].quantity }} </td>
            <td> {{ shuffledAfterLunchRO[0].quantity }} </td>
            <td> {{ shuffledDinnerRO[0].quantity }} </td>
          </tr>

          <tr>
            <th>Ora la care vei manca</th>
            <td> {{ shuffledBreakfastRO[0].hour }} </td>
            <td> {{ shuffledBeforeLunchRO[0].hour }} </td>
            <td> {{ shuffledLunchRO[0].hour }} </td>
            <td> {{ shuffledAfterLunchRO[0].hour }} </td>
            <td> {{ shuffledDinnerRO[0].hour }} </td>
          </tr>
        </table>
        <br>
      </div>
    </div>

    <div v-else-if="showFullDiet && showEnglish" class="table-component">
      <br>
      <b-button size="sm" variant="danger" @click="toggleFullDiet">Close</b-button>
      <br>
      <table>
        <thead>
          <tr>
            <th></th>
            <th>Monday</th>
            <th>Tuesday</th>
            <th>Wednesday</th>
            <th>Thursday</th>
            <th>Friday</th>
            <th>Saturday</th>
            <th>Sunday</th>
          </tr>
        </thead>

        <tr>
          <th> Breakfast </th>
          <td
            v-b-popover.hover.top="`Recipe: ${shuffledBreakfast[0].quantity} \n Hour: ${shuffledBreakfast[0].hour}`"
            :title="`${shuffledBreakfast[0].name}`"
          > {{ shuffledBreakfast[0].name }} </td>
          <td
            v-b-popover.hover.top="`Recipe: ${shuffledBreakfast[1].quantity} \n Hour: ${shuffledBreakfast[1].hour}`"
            :title="`${shuffledBreakfast[1].name}`"
          > {{ shuffledBreakfast[1].name }} </td>
          <td
            v-b-popover.hover.top="`Recipe: ${shuffledBreakfast[2].quantity} \n Hour: ${shuffledBreakfast[2].hour}`"
            :title="`${shuffledBreakfast[2].name}`"
          > {{ shuffledBreakfast[2].name }} </td>
          <td
            v-b-popover.hover.top="`Recipe: ${shuffledBreakfast[3].quantity} \n Hour: ${shuffledBreakfast[3].hour}`"
            :title="`${shuffledBreakfast[3].name}`"
          > {{ shuffledBreakfast[3].name }} </td>
          <td
            v-b-popover.hover.top="`Recipe: ${shuffledBreakfast[2].quantity} \n Hour: ${shuffledBreakfast[2].hour}`"
            :title="`${shuffledBreakfast[2].name}`"
          > {{ shuffledBreakfast[2].name }} </td>
          <td
            v-b-popover.hover.top="`Recipe: ${shuffledBreakfast[4].quantity} \n Hour: ${shuffledBreakfast[4].hour}`"
            :title="`${shuffledBreakfast[4].name}`"
          > {{ shuffledBreakfast[4].name }} </td>
          <td
            v-b-popover.hover.top="`Recipe: ${shuffledBreakfast[0].quantity} \n Hour: ${shuffledBreakfast[0].hour}`"
            :title="`${shuffledBreakfast[0].name}`"
          > {{ shuffledBreakfast[0].name }} </td>
        </tr>

        <tr>
          <th> Snack </th>
          <td
            v-b-popover.hover.top="`Recipe: ${shuffledBeforeLunch[0].quantity} \n Hour: ${shuffledBeforeLunch[0].hour}`"
            :title="`${shuffledBeforeLunch[0].name}`"
          > {{ shuffledBeforeLunch[0].name }} </td>
          <td
            v-b-popover.hover.top="`Recipe: ${shuffledBeforeLunch[0].quantity} \n Hour: ${shuffledBeforeLunch[0].hour}`"
            :title="`${shuffledBeforeLunch[0].name}`"
          > {{ shuffledBeforeLunch[0].name }} </td>
          <td
            v-b-popover.hover.top="`Recipe: ${shuffledBeforeLunch[0].quantity} \n Hour: ${shuffledBeforeLunch[0].hour}`"
            :title="`${shuffledBeforeLunch[0].name}`"
          > {{ shuffledBeforeLunch[0].name }} </td>
          <td
            v-b-popover.hover.top="`Recipe: ${shuffledBeforeLunch[0].quantity} \n Hour: ${shuffledBeforeLunch[0].hour}`"
            :title="`${shuffledBeforeLunch[0].name}`"
          > {{ shuffledBeforeLunch[0].name }} </td>
          <td
            v-b-popover.hover.top="`Recipe: ${shuffledBeforeLunch[0].quantity} \n Hour: ${shuffledBeforeLunch[0].hour}`"
            :title="`${shuffledBeforeLunch[0].name}`"
          > {{ shuffledBeforeLunch[0].name }} </td>
          <td
            v-b-popover.hover.top="`Recipe: ${shuffledBeforeLunch[0].quantity} \n Hour: ${shuffledBeforeLunch[0].hour}`"
            :title="`${shuffledBeforeLunch[0].name}`"
          > {{ shuffledBeforeLunch[0].name }} </td>
          <td
            v-b-popover.hover.top="`Recipe: ${shuffledBeforeLunch[0].quantity} \n Hour: ${shuffledBeforeLunch[0].hour}`"
            :title="`${shuffledBeforeLunch[0].name}`"
          > {{ shuffledBeforeLunch[0].name }} </td>
        </tr>

        <tr>
          <th> Lunch </th>
          <td
            v-b-popover.hover.top="`Recipe: ${shuffledLunch[0].quantity} \n Hour: ${shuffledLunch[0].hour}`"
            :title="`${shuffledLunch[0].name}`"
          > {{ shuffledLunch[0].name }} </td>
          <td
            v-b-popover.hover.top="`Recipe: ${shuffledLunch[1].quantity} \n Hour: ${shuffledLunch[1].hour}`"
            :title="`${shuffledLunch[1].name}`"
          > {{ shuffledLunch[1].name }} </td>
          <td
            v-b-popover.hover.top="`Recipe: ${shuffledLunch[2].quantity} \n Hour: ${shuffledLunch[2].hour}`"
            :title="`${shuffledLunch[2].name}`"
          > {{ shuffledLunch[2].name }} </td>
          <td
            v-b-popover.hover.top="`Recipe: ${shuffledLunch[3].quantity} \n Hour: ${shuffledLunch[3].hour}`"
            :title="`${shuffledLunch[3].name}`"
          > {{ shuffledLunch[3].name }} </td>
          <td
            v-b-popover.hover.top="`Recipe: ${shuffledLunch[4].quantity} \n Hour: ${shuffledLunch[4].hour}`"
            :title="`${shuffledLunch[4].name}`"
          > {{ shuffledLunch[4].name }} </td>
          <td
            v-b-popover.hover.top="`Recipe: ${shuffledLunch[5].quantity} \n Hour: ${shuffledLunch[5].hour}`"
            :title="`${shuffledLunch[5].name}`"
          > {{ shuffledLunch[5].name }} </td>
          <td
            v-b-popover.hover.top="`Recipe: ${shuffledLunch[6].quantity} \n Hour: ${shuffledLunch[6].hour}`"
            :title="`${shuffledLunch[6].name}`"
          > {{ shuffledLunch[6].name }} </td>
        </tr>

        <tr>
          <th> Snack </th>
          <td
            v-b-popover.hover.top="`Recipe: ${shuffledAfterLunch[0].quantity} \n Hour: ${shuffledAfterLunch[0].hour}`"
            :title="`${shuffledAfterLunch[0].name}`"
          > {{ shuffledAfterLunch[0].name }} </td>
          <td
            v-b-popover.hover.top="`Recipe: ${shuffledAfterLunch[1].quantity} \n Hour: ${shuffledAfterLunch[1].hour}`"
            :title="`${shuffledAfterLunch[1].name}`"
          > {{ shuffledAfterLunch[1].name }} </td>
          <td
            v-b-popover.hover.top="`Recipe: ${shuffledAfterLunch[2].quantity} \n Hour: ${shuffledAfterLunch[2].hour}`"
            :title="`${shuffledAfterLunch[2].name}`"
          > {{ shuffledAfterLunch[2].name }} </td>
          <td
            v-b-popover.hover.top="`Recipe: ${shuffledAfterLunch[3].quantity} \n Hour: ${shuffledAfterLunch[3].hour}`"
            :title="`${shuffledAfterLunch[3].name}`"
          > {{ shuffledAfterLunch[3].name }} </td>
          <td
            v-b-popover.hover.top="`Recipe: ${shuffledAfterLunch[2].quantity} \n Hour: ${shuffledAfterLunch[2].hour}`"
            :title="`${shuffledAfterLunch[2].name}`"
          > {{ shuffledAfterLunch[2].name }} </td>
          <td
            v-b-popover.hover.top="`Recipe: ${shuffledAfterLunch[4].quantity} \n Hour: ${shuffledAfterLunch[4].hour}`"
            :title="`${shuffledAfterLunch[4].name}`"
          > {{ shuffledAfterLunch[4].name }} </td>
          <td
            v-b-popover.hover.top="`Recipe: ${shuffledAfterLunch[1].quantity} \n Hour: ${shuffledAfterLunch[1].hour}`"
            :title="`${shuffledAfterLunch[1].name}`"
          > {{ shuffledAfterLunch[1].name }} </td>
        </tr>

        <tr>
          <th> Dinner </th>
          <td
            v-b-popover.hover.top="`Recipe: ${shuffledDinner[0].quantity} \n Hour: ${shuffledDinner[0].hour}`"
            :title="`${shuffledDinner[0].name}`"
          > {{ shuffledDinner[0].name }} </td>
          <td
            v-b-popover.hover.top="`Recipe: ${shuffledDinner[1].quantity} \n Hour: ${shuffledDinner[1].hour}`"
            :title="`${shuffledDinner[1].name}`"
          > {{ shuffledDinner[1].name }} </td>
          <td
            v-b-popover.hover.top="`Recipe: ${shuffledDinner[2].quantity} \n Hour: ${shuffledDinner[2].hour}`"
            :title="`${shuffledDinner[2].name}`"
          > {{ shuffledDinner[2].name }} </td>
          <td
            v-b-popover.hover.top="`Recipe: ${shuffledDinner[3].quantity} \n Hour: ${shuffledDinner[3].hour}`"
            :title="`${shuffledDinner[3].name}`"
          > {{ shuffledDinner[3].name }} </td>
          <td
            v-b-popover.hover.top="`Recipe: ${shuffledDinner[4].quantity} \n Hour: ${shuffledDinner[4].hour}`"
            :title="`${shuffledDinner[4].name}`"
          > {{ shuffledDinner[4].name }} </td>
          <td
            v-b-popover.hover.top="`Recipe: ${shuffledDinner[5].quantity} \n Hour: ${shuffledDinner[5].hour}`"
            :title="`${shuffledDinner[5].name}`"
          > {{ shuffledDinner[5].name }} </td>
          <td
            v-b-popover.hover.top="`Recipe: ${shuffledDinner[6].quantity} \n Hour: ${shuffledDinner[6].hour}`"
            :title="`${shuffledDinner[6].name}`"
          > {{ shuffledDinner[6].name }} </td>
        </tr>
      </table>
      <br>
    </div>

    <div v-else-if="showFullDiet && !showEnglish" class="table-component">
      <br>
      <b-button size="sm" variant="danger" @click="toggleFullDiet">Inchide</b-button>
      <br>
      <table>
        <thead>
          <tr>
            <th></th>
            <th>Luni</th>
            <th>Marti</th>
            <th>Miercuri</th>
            <th>Joi</th>
            <th>Vineri</th>
            <th>Sambata</th>
            <th>Duminica</th>
          </tr>
        </thead>

        <tr>
          <th> Mic dejun </th>
          <td
            v-b-popover.hover.top="`Reteta: ${shuffledBreakfastRO[0].quantity} \n Ora: ${shuffledBreakfastRO[0].hour}`"
            :title="`${shuffledBreakfastRO[0].name}`"
          > {{ shuffledBreakfastRO[0].name }} </td>
          <td
            v-b-popover.hover.top="`Reteta: ${shuffledBreakfastRO[1].quantity} \n Ora: ${shuffledBreakfastRO[1].hour}`"
            :title="`${shuffledBreakfastRO[1].name}`"
          > {{ shuffledBreakfastRO[1].name }} </td>
          <td
            v-b-popover.hover.top="`Reteta: ${shuffledBreakfastRO[2].quantity} \n Ora: ${shuffledBreakfastRO[2].hour}`"
            :title="`${shuffledBreakfastRO[2].name}`"
          > {{ shuffledBreakfastRO[2].name }} </td>
          <td
            v-b-popover.hover.top="`Reteta: ${shuffledBreakfastRO[3].quantity} \n Ora: ${shuffledBreakfastRO[3].hour}`"
            :title="`${shuffledBreakfastRO[3].name}`"
          > {{ shuffledBreakfastRO[3].name }} </td>
          <td
            v-b-popover.hover.top="`Reteta: ${shuffledBreakfastRO[2].quantity} \n Ora: ${shuffledBreakfastRO[2].hour}`"
            :title="`${shuffledBreakfastRO[2].name}`"
          > {{ shuffledBreakfastRO[2].name }} </td>
          <td
            v-b-popover.hover.top="`Reteta: ${shuffledBreakfastRO[4].quantity} \n Ora: ${shuffledBreakfastRO[4].hour}`"
            :title="`${shuffledBreakfastRO[4].name}`"
          > {{ shuffledBreakfastRO[4].name }} </td>
          <td
            v-b-popover.hover.top="`Reteta: ${shuffledBreakfastRO[0].quantity} \n Ora: ${shuffledBreakfastRO[0].hour}`"
            :title="`${shuffledBreakfastRO[0].name}`"
          > {{ shuffledBreakfastRO[0].name }} </td>
        </tr>

        <tr>
          <th> Snack </th>
          <td
            v-b-popover.hover.top="`Reteta: ${shuffledBeforeLunchRO[0].quantity} \n Ora: ${shuffledBeforeLunchRO[0].hour}`"
            :title="`${shuffledBeforeLunchRO[0].name}`"
          > {{ shuffledBeforeLunchRO[0].name }} </td>
          <td
            v-b-popover.hover.top="`Reteta: ${shuffledBeforeLunchRO[0].quantity} \n Ora: ${shuffledBeforeLunchRO[0].hour}`"
            :title="`${shuffledBeforeLunchRO[0].name}`"
          > {{ shuffledBeforeLunchRO[0].name }} </td>
          <td
            v-b-popover.hover.top="`Reteta: ${shuffledBeforeLunchRO[0].quantity} \n Ora: ${shuffledBeforeLunchRO[0].hour}`"
            :title="`${shuffledBeforeLunchRO[0].name}`"
          > {{ shuffledBeforeLunchRO[0].name }} </td>
          <td
            v-b-popover.hover.top="`Reteta: ${shuffledBeforeLunchRO[0].quantity} \n Ora: ${shuffledBeforeLunchRO[0].hour}`"
            :title="`${shuffledBeforeLunchRO[0].name}`"
          > {{ shuffledBeforeLunchRO[0].name }} </td>
          <td
            v-b-popover.hover.top="`Reteta: ${shuffledBeforeLunchRO[0].quantity} \n Ora: ${shuffledBeforeLunchRO[0].hour}`"
            :title="`${shuffledBeforeLunchRO[0].name}`"
          > {{ shuffledBeforeLunchRO[0].name }} </td>
          <td
            v-b-popover.hover.top="`Reteta: ${shuffledBeforeLunchRO[0].quantity} \n Ora: ${shuffledBeforeLunchRO[0].hour}`"
            :title="`${shuffledBeforeLunchRO[0].name}`"
          > {{ shuffledBeforeLunchRO[0].name }} </td>
          <td
            v-b-popover.hover.top="`Reteta: ${shuffledBeforeLunchRO[0].quantity} \n Ora: ${shuffledBeforeLunchRO[0].hour}`"
            :title="`${shuffledBeforeLunchRO[0].name}`"
          > {{ shuffledBeforeLunchRO[0].name }} </td>
        </tr>

        <tr>
          <th> Lunch </th>
          <td
            v-b-popover.hover.top="`Reteta: ${shuffledLunchRO[0].quantity} \n Ora: ${shuffledLunchRO[0].hour}`"
            :title="`${shuffledLunchRO[0].name}`"
          > {{ shuffledLunchRO[0].name }} </td>
          <td
            v-b-popover.hover.top="`Reteta: ${shuffledLunchRO[1].quantity} \n Ora: ${shuffledLunchRO[1].hour}`"
            :title="`${shuffledLunchRO[1].name}`"
          > {{ shuffledLunchRO[1].name }} </td>
          <td
            v-b-popover.hover.top="`Reteta: ${shuffledLunchRO[2].quantity} \n Ora: ${shuffledLunchRO[2].hour}`"
            :title="`${shuffledLunchRO[2].name}`"
          > {{ shuffledLunchRO[2].name }} </td>
          <td
            v-b-popover.hover.top="`Reteta: ${shuffledLunchRO[3].quantity} \n Ora: ${shuffledLunchRO[3].hour}`"
            :title="`${shuffledLunchRO[3].name}`"
          > {{ shuffledLunchRO[3].name }} </td>
          <td
            v-b-popover.hover.top="`Reteta: ${shuffledLunchRO[4].quantity} \n Ora: ${shuffledLunchRO[4].hour}`"
            :title="`${shuffledLunchRO[4].name}`"
          > {{ shuffledLunchRO[4].name }} </td>
          <td
            v-b-popover.hover.top="`Reteta: ${shuffledLunchRO[5].quantity} \n Ora: ${shuffledLunchRO[5].hour}`"
            :title="`${shuffledLunchRO[5].name}`"
          > {{ shuffledLunchRO[5].name }} </td>
          <td
            v-b-popover.hover.top="`Reteta: ${shuffledLunchRO[6].quantity} \n Ora: ${shuffledLunchRO[6].hour}`"
            :title="`${shuffledLunchRO[6].name}`"
          > {{ shuffledLunchRO[6].name }} </td>
        </tr>

        <tr>
          <th> Snack </th>
          <td
            v-b-popover.hover.top="`Reteta: ${shuffledAfterLunchRO[0].quantity} \n Ora: ${shuffledAfterLunchRO[0].hour}`"
            :title="`${shuffledAfterLunchRO[0].name}`"
          > {{ shuffledAfterLunchRO[0].name }} </td>
          <td
            v-b-popover.hover.top="`Reteta: ${shuffledAfterLunchRO[1].quantity} \n Ora: ${shuffledAfterLunchRO[1].hour}`"
            :title="`${shuffledAfterLunchRO[1].name}`"
          > {{ shuffledAfterLunchRO[1].name }} </td>
          <td
            v-b-popover.hover.top="`Reteta: ${shuffledAfterLunchRO[2].quantity} \n Ora: ${shuffledAfterLunchRO[2].hour}`"
            :title="`${shuffledAfterLunchRO[2].name}`"
          > {{ shuffledAfterLunchRO[2].name }} </td>
          <td
            v-b-popover.hover.top="`Reteta: ${shuffledAfterLunchRO[3].quantity} \n Ora: ${shuffledAfterLunchRO[3].hour}`"
            :title="`${shuffledAfterLunchRO[3].name}`"
          > {{ shuffledAfterLunchRO[3].name }} </td>
          <td
            v-b-popover.hover.top="`Reteta: ${shuffledAfterLunchRO[2].quantity} \n Ora: ${shuffledAfterLunchRO[2].hour}`"
            :title="`${shuffledAfterLunchRO[2].name}`"
          > {{ shuffledAfterLunchRO[2].name }} </td>
          <td
            v-b-popover.hover.top="`Reteta: ${shuffledAfterLunchRO[4].quantity} \n Ora: ${shuffledAfterLunchRO[4].hour}`"
            :title="`${shuffledAfterLunchRO[4].name}`"
          > {{ shuffledAfterLunchRO[4].name }} </td>
          <td
            v-b-popover.hover.top="`Reteta: ${shuffledAfterLunchRO[1].quantity} \n Ora: ${shuffledAfterLunchRO[1].hour}`"
            :title="`${shuffledAfterLunchRO[1].name}`"
          > {{ shuffledAfterLunchRO[1].name }} </td>
        </tr>

        <tr>
          <th> Dinner </th>
          <td
            v-b-popover.hover.top="`Reteta: ${shuffledDinnerRO[0].quantity} \n Ora: ${shuffledDinnerRO[0].hour}`"
            :title="`${shuffledDinnerRO[0].name}`"
          > {{ shuffledDinnerRO[0].name }} </td>
          <td
            v-b-popover.hover.top="`Reteta: ${shuffledDinnerRO[1].quantity} \n Ora: ${shuffledDinnerRO[1].hour}`"
            :title="`${shuffledDinnerRO[1].name}`"
          > {{ shuffledDinnerRO[1].name }} </td>
          <td
            v-b-popover.hover.top="`Reteta: ${shuffledDinnerRO[2].quantity} \n Ora: ${shuffledDinnerRO[2].hour}`"
            :title="`${shuffledDinnerRO[2].name}`"
          > {{ shuffledDinnerRO[2].name }} </td>
          <td
            v-b-popover.hover.top="`Reteta: ${shuffledDinnerRO[3].quantity} \n Ora: ${shuffledDinnerRO[3].hour}`"
            :title="`${shuffledDinnerRO[3].name}`"
          > {{ shuffledDinnerRO[3].name }} </td>
          <td
            v-b-popover.hover.top="`Reteta: ${shuffledDinnerRO[4].quantity} \n Ora: ${shuffledDinnerRO[4].hour}`"
            :title="`${shuffledDinnerRO[4].name}`"
          > {{ shuffledDinnerRO[4].name }} </td>
          <td
            v-b-popover.hover.top="`Reteta: ${shuffledDinnerRO[5].quantity} \n Ora: ${shuffledDinnerRO[5].hour}`"
            :title="`${shuffledDinnerRO[5].name}`"
          > {{ shuffledDinnerRO[5].name }} </td>
          <td
            v-b-popover.hover.top="`Reteta: ${shuffledDinnerRO[6].quantity} \n Ora: ${shuffledDinnerRO[6].hour}`"
            :title="`${shuffledDinnerRO[6].name}`"
          > {{ shuffledDinnerRO[6].name }} </td>
        </tr>
      </table>
      <br>
    </div>
  </div>
</template>

<script>
import _ from 'lodash'
import { mapGetters } from 'vuex'

export default {
  name: 'diets',
  props: {
    showEnglish: Boolean
  },
  data () {
    return {
      showOneDiet: false,
      showFullDiet: false,
      shuffledBreakfast: [],
      shuffledBeforeLunch: [],
      shuffledLunch: [],
      shuffledAfterLunch: [],
      shuffledDinner: [],
      shuffledBreakfastRO: [],
      shuffledBeforeLunchRO: [],
      shuffledLunchRO: [],
      shuffledAfterLunchRO: [],
      shuffledDinnerRO: []
    }
  },
  methods: {
    ...mapGetters([
      'getBreakfast',
      'getBeforeLunch',
      'getLunch',
      'getAfterLunch',
      'getDinner',
      'getBreakfastRO',
      'getBeforeLunchRO',
      'getLunchRO',
      'getAfterLunchRO',
      'getDinnerRO'
    ]),
    toggleOneDiet () {
      this.showOneDiet = !this.showOneDiet
      this.showFullDiet = false
      this.getMeals()
    },
    toggleFullDiet () {
      this.showFullDiet = !this.showFullDiet
      this.showOneDiet = false
      this.getMeals()
    },
    getMeals () {
      this.shuffledBreakfast = _.shuffle(this.$store.getters.getBreakfast)
      this.shuffledBeforeLunch = _.shuffle(this.$store.getters.getBeforeLunch)
      this.shuffledLunch = _.shuffle(this.$store.getters.getLunch)
      this.shuffledAfterLunch = _.shuffle(this.$store.getters.getAfterLunch)
      this.shuffledDinner = _.shuffle(this.$store.getters.getDinner)

      this.shuffledBreakfastRO = _.shuffle(this.$store.getters.getBreakfastRO)
      this.shuffledBeforeLunchRO = _.shuffle(this.$store.getters.getBeforeLunchRO)
      this.shuffledLunchRO = _.shuffle(this.$store.getters.getLunchRO)
      this.shuffledAfterLunchRO = _.shuffle(this.$store.getters.getAfterLunchRO)
      this.shuffledDinnerRO = _.shuffle(this.$store.getters.getDinnerRO)

      let array = []
      for (let index = 0; index < this.shuffledLunch.length; ++index) {
        const type = this.shuffledLunch[index].type
        for (let dinner = 0; dinner < this.shuffledDinner.length; ++dinner) {
          if (this.shuffledDinner[dinner].type === type) {
            array.push(this.shuffledDinner[dinner])
          }
        }
      }
      this.shuffledDinner = array

      let arrayRO = []
      for (let index = 0; index < this.shuffledLunchRO.length; ++index) {
        const type = this.shuffledLunchRO[index].type
        for (let dinner = 0; dinner < this.shuffledDinnerRO.length; ++dinner) {
          if (this.shuffledDinnerRO[dinner].type === type) {
            arrayRO.push(this.shuffledDinnerRO[dinner])
          }
        }
      }
      this.shuffledDinnerRO = arrayRO
    }
  }
}
</script>

<style>
.description {
  text-align: left;
  padding: 30px;
}
.btn {
  margin: 5px 10px;
}
</style>
