<template>
  <div class="home">
    <div v-if="showEnglish">
      <br>
      <h1>Sport Bites</h1>
      <div class="description">
        <h2 class="title">The concept</h2>
        <p>
          This application is supposed to generate a healthy meal and a workout routine, therefore leading to better results in achieving a
          healthier lifestyle and a well structured body shape. We chose from a large variety of exercises and meals in order to give the user
          a satisfying result. After talking to a nutritionist, we were able to come up with an algorithm that sorts meals for a whole week in
          such a manner that it would not create a slimming diet, but rather a balanced way of eating. However, if you are interested in
          getting a one day meal but not a full week one, check out the one day generator.
          Pick up your favorite exercises and workout only the parts that you desire by using the exercises generator for spending quality time
          and getting results faster.
        </p>
      </div>
      <div class="description">
        <h2 class="title">Why</h2>
        <p>
          This app is our entry in a contest called "Infoeducatie", having the purpose of educating the users into picking a great life style.
          It is also worth mentioning that such obesity levels have never been reported in history that today, when sedentary life and bad habits
          in terms of food rule one's routine. This is why we decided to create a website dedicated to improving the user's schedule by adding 
          physical exercises and healthy meals. Our goal is to have a more responsible society from this point of view.
        </p>
      </div>
    </div>

    <div v-else>
      <br>
      <h1>Aplicatie de fitness</h1>
      <div class="description">
        <h2 class="title">Conceptul</h2>
        <p>
          Aceasta aplicatie trebuie sa genereze un meniu sanatos si un program de antrenament, conducand astfel la obtinerea unor rezultate
          mai bune in ceea ce priveste un stil de viata mai sanatos si un trup bine cladit. Am ales dintr-o mare varietate de exercitii si
          preparate culinare pentru a oferi utilizatorului un efect satisfacator. Dupa ce am discutat cu un nutritionist, am reusit sa concepem
          un algoritm care sorteaza mesele pentru o saptamana intreaga, astfel incat sa creeze nu o dieta sau o cura de slabire, ci un meniu echilibrat.
          Cu toate acestea, daca sunteti interesat sa obtineti o masa pentru o singura zi, dar nu un meniu complet, incercati generatorul de o zi.
          Luati-va exercitiile preferate si lucrati doar partile pe care le doriti prin utilizarea generatorului de exercitii, astfel avand
          parte de un timp de calitate si rezultate mai rapide.
        </p>
      </div>
      <div class="description">
        <h2 class="title">De ce?</h2>
        <p>
          Aceasta aplicatie este proiectul nostru pentru un concurs numit "Infoeducatie", avand ca scop educarea utilizatorilor in alegerea
          unui stil de viata extraordinar. De asemenea, merita mentionat faptul ca obezitatea nu a mai fost niciodata o problema atat de mare
          ca pana astazi, cand viata sedentara si obiceiurile proaste in ceea ce priveste rutina alimentara ghideaza viata cotidiana.
          Din acest motiv, am decis sa cream un site web dedicat imbunatatirii vietii utilizatorului prin adaugarea de exercitii fizice si
          mese sanatoase in programul personal. Scopul nostru este de a avea o societate mai responsabila din aceasta perspectiva.
        </p>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'home',
  props: {
    showEnglish: Boolean
  }
}
</script>

<style>
.description {
  text-align: left;
  padding-left: 30px;
  padding-right: 30px;
}
.title {
  text-align: left;
}
</style>
