<template>
  <div class="workout">
    <br>
    <h1 v-if="showEnglish">Get your free workout today!</h1>
    <h1 v-else>Ia-ti programul de sport gratiut chiar acum!</h1>
    <div class="description">
      <p v-if="showEnglish">
        The questionnaire lets the user choose the type of sport they want to practice. After selecting, you will see
        5 options for each selected field. When you click on the name of the exercise, a suggestive image opens. There
        are 3 sets of 8 repetitions for each exercise. Cardio and Yoga are exceptional, considering the duration of the
        exercise, which the user can choose.
      </p>
      <p v-else>
        Chestionarul lasa utilizatorul sa aleaga  tipul activitatii sportive pe care doreste sa o practice. In
        urma alegerii, se vor afisa cate 5 optiuni pentru fiecare rubrica selectata. La apasarea pe numele exercitiului
        se deschide o imagine sugestiva. Sunt indicate 3 seturi a cate 8 repetari pentru fiecare exercitiu. Cardio
        si Yoga fac exceptie, contand durata exercitiului, pe care utilizatorul si-o poate alege.
      </p>
    </div>

    <div v-if="showEnglish && !generated">
      <b-button
        size="lg"
        variant="warning"
        @click="toggleForm()"
      > Generate your workout </b-button>
    </div>

    <div v-else-if="!generated">
      <b-button
        size="lg"
        variant="warning"
        @click="toggleForm()"
      > Genereaza-ti programul de sport </b-button>
    </div>

    <b-form @submit.prevent="handleSubmit" v-if="showForm && showEnglish">
      <b-form-group id="input-group-4">
        <b-form-checkbox-group v-model="formData.checked" id="checkboxes-4">
          <b-form-checkbox value="upper">Upper body</b-form-checkbox><br>
          <b-form-checkbox value="core">Core strenght</b-form-checkbox><br>
          <b-form-checkbox value="lower">Lower body</b-form-checkbox><br>
          <b-form-checkbox value="stretches">Stretches</b-form-checkbox><br>
          <b-form-checkbox value="cardio">Cardio</b-form-checkbox><br>
          <b-form-checkbox value="yoga">Yoga poses</b-form-checkbox><br>
        </b-form-checkbox-group>
      </b-form-group>

      <b-button type="submit" variant="primary">Submit</b-button>
      <b-button type="reset" variant="danger">Reset</b-button>
    </b-form>

    <b-form @submit.prevent="handleSubmit" v-else-if="showForm">
      <b-form-group id="input-group-4">
        <b-form-checkbox-group v-model="formData.checked" id="checkboxes-4">
          <b-form-checkbox value="upper">Partea superioara a trupului</b-form-checkbox><br>
          <b-form-checkbox value="core">Abdomen</b-form-checkbox><br>
          <b-form-checkbox value="lower">Partea inferioara a trupului</b-form-checkbox><br>
          <b-form-checkbox value="stretches">Intindere</b-form-checkbox><br>
          <b-form-checkbox value="cardio">Cardio</b-form-checkbox><br>
          <b-form-checkbox value="yoga">Pozitii de yoga</b-form-checkbox><br>
        </b-form-checkbox-group>
      </b-form-group>

      <b-button type="submit" variant="primary">Genereaza</b-button>
      <b-button type="reset" variant="danger">Resetare</b-button>
    </b-form>

    <b-list-group v-if="showWorkout" class="workout-show">
      <b-list-group-item v-if="showUpper && showEnglish">
        Upper body workout
        <b-button v-b-toggle="'collapse-1'" variant="primary">Show me</b-button>
        <b-collapse id="collapse-1" class="mt-2">
          <b-card>
            <b-button v-b-toggle.collapse-11-inner> {{ arrayUpper[0].name }} </b-button>
            <b-button v-b-toggle.collapse-12-inner> {{ arrayUpper[1].name }} </b-button>
            <b-button v-b-toggle.collapse-13-inner> {{ arrayUpper[2].name }} </b-button>
            <b-button v-b-toggle.collapse-14-inner> {{ arrayUpper[3].name }} </b-button>
            <b-button v-b-toggle.collapse-15-inner> {{ arrayUpper[4].name }} </b-button>
            <b-collapse id="collapse-11-inner" class="mt-2">
              <b-card>
                {{ arrayUpper[0].name }}
                <img :src="'Images/' + arrayUpper[0].image" class="image" />
              </b-card>
            </b-collapse>
            <b-collapse id="collapse-12-inner" class="mt-2">
              <b-card>
                {{ arrayUpper[1].name }}
                <img :src="'Images/' + arrayUpper[1].image" class="image" />
              </b-card>
            </b-collapse>
            <b-collapse id="collapse-13-inner" class="mt-2">
              <b-card>
                {{ arrayUpper[2].name }}
                <img :src="'Images/' + arrayUpper[2].image" class="image" />
              </b-card>
            </b-collapse>
            <b-collapse id="collapse-14-inner" class="mt-2">
              <b-card>
                {{ arrayUpper[3].name }}
                <img :src="'Images/' + arrayUpper[3].image" class="image" />
              </b-card>
            </b-collapse>
            <b-collapse id="collapse-15-inner" class="mt-2">
              <b-card>
                {{ arrayUpper[4].name }}
                <img :src="'Images/' + arrayUpper[4].image" class="image" />
              </b-card>
            </b-collapse>
          </b-card>
        </b-collapse>
      </b-list-group-item>
      <b-list-group-item v-else-if="showUpper">
        Program pentru partea superioara a trupului
        <b-button v-b-toggle="'collapse-1'" variant="primary">Arata-mi</b-button>
        <b-collapse id="collapse-1" class="mt-2">
          <b-card>
            <b-button v-b-toggle.collapse-11-inner> {{ arrayUpper[0].name }} </b-button>
            <b-button v-b-toggle.collapse-12-inner> {{ arrayUpper[1].name }} </b-button>
            <b-button v-b-toggle.collapse-13-inner> {{ arrayUpper[2].name }} </b-button>
            <b-button v-b-toggle.collapse-14-inner> {{ arrayUpper[3].name }} </b-button>
            <b-button v-b-toggle.collapse-15-inner> {{ arrayUpper[4].name }} </b-button>
            <b-collapse id="collapse-11-inner" class="mt-2">
              <b-card>
                {{ arrayUpper[0].name }}
                <img :src="'Images/' + arrayUpper[0].image" class="image" />
              </b-card>
            </b-collapse>
            <b-collapse id="collapse-12-inner" class="mt-2">
              <b-card>
                {{ arrayUpper[1].name }}
                <img :src="'Images/' + arrayUpper[1].image" class="image" />
              </b-card>
            </b-collapse>
            <b-collapse id="collapse-13-inner" class="mt-2">
              <b-card>
                {{ arrayUpper[2].name }}
                <img :src="'Images/' + arrayUpper[2].image" class="image" />
              </b-card>
            </b-collapse>
            <b-collapse id="collapse-14-inner" class="mt-2">
              <b-card>
                {{ arrayUpper[3].name }}
                <img :src="'Images/' + arrayUpper[3].image" class="image" />
              </b-card>
            </b-collapse>
            <b-collapse id="collapse-15-inner" class="mt-2">
              <b-card>
                {{ arrayUpper[4].name }}
                <img :src="'Images/' + arrayUpper[4].image" class="image" />
              </b-card>
            </b-collapse>
          </b-card>
        </b-collapse>
      </b-list-group-item>

      <b-list-group-item v-if="showCore && showEnglish">
        Core strenght workout
        <b-button v-b-toggle="'collapse-2'" variant="primary">Show me</b-button>
        <b-collapse id="collapse-2" class="mt-2">
          <b-card>
            <b-button v-b-toggle.collapse-21-inner> {{ arrayCore[0].name }} </b-button>
            <b-button v-b-toggle.collapse-22-inner> {{ arrayCore[1].name }} </b-button>
            <b-button v-b-toggle.collapse-23-inner> {{ arrayCore[2].name }} </b-button>
            <b-button v-b-toggle.collapse-24-inner> {{ arrayCore[3].name }} </b-button>
            <b-button v-b-toggle.collapse-25-inner> {{ arrayCore[4].name }} </b-button>
            <b-collapse id="collapse-21-inner" class="mt-2">
              <b-card>
                {{ arrayCore[0].name }}
                <img :src="'Images/' + arrayCore[0].image" class="image" />
              </b-card>
            </b-collapse>
            <b-collapse id="collapse-22-inner" class="mt-2">
              <b-card>
                {{ arrayCore[1].name }}
                <img :src="'Images/' + arrayCore[1].image" class="image" />
              </b-card>
            </b-collapse>
            <b-collapse id="collapse-23-inner" class="mt-2">
              <b-card>
                {{ arrayCore[2].name }}
                <img :src="'Images/' + arrayCore[2].image" class="image" />
              </b-card>
            </b-collapse>
            <b-collapse id="collapse-24-inner" class="mt-2">
              <b-card>
                {{ arrayCore[3].name }}
                <img :src="'Images/' + arrayCore[3].image" class="image" />
              </b-card>
            </b-collapse>
            <b-collapse id="collapse-25-inner" class="mt-2">
              <b-card>
                {{ arrayCore[4].name }}
                <img :src="'Images/' + arrayCore[4].image" class="image" />
              </b-card>
            </b-collapse>
          </b-card>
        </b-collapse>
      </b-list-group-item>
      <b-list-group-item v-else-if="showCore">
        Core strenght workout
        <b-button v-b-toggle="'collapse-2'" variant="primary">Arata-mi</b-button>
        <b-collapse id="collapse-2" class="mt-2">
          <b-card>
            <b-button v-b-toggle.collapse-21-inner> {{ arrayCore[0].name }} </b-button>
            <b-button v-b-toggle.collapse-22-inner> {{ arrayCore[1].name }} </b-button>
            <b-button v-b-toggle.collapse-23-inner> {{ arrayCore[2].name }} </b-button>
            <b-button v-b-toggle.collapse-24-inner> {{ arrayCore[3].name }} </b-button>
            <b-button v-b-toggle.collapse-25-inner> {{ arrayCore[4].name }} </b-button>
            <b-collapse id="collapse-21-inner" class="mt-2">
              <b-card>
                {{ arrayCore[0].name }}
                <img :src="'Images/' + arrayCore[0].image" class="image" />
              </b-card>
            </b-collapse>
            <b-collapse id="collapse-22-inner" class="mt-2">
              <b-card>
                {{ arrayCore[1].name }}
                <img :src="'Images/' + arrayCore[1].image" class="image" />
              </b-card>
            </b-collapse>
            <b-collapse id="collapse-23-inner" class="mt-2">
              <b-card>
                {{ arrayCore[2].name }}
                <img :src="'Images/' + arrayCore[2].image" class="image" />
              </b-card>
            </b-collapse>
            <b-collapse id="collapse-24-inner" class="mt-2">
              <b-card>
                {{ arrayCore[3].name }}
                <img :src="'Images/' + arrayCore[3].image" class="image" />
              </b-card>
            </b-collapse>
            <b-collapse id="collapse-25-inner" class="mt-2">
              <b-card>
                {{ arrayCore[4].name }}
                <img :src="'Images/' + arrayCore[4].image" class="image" />
              </b-card>
            </b-collapse>
          </b-card>
        </b-collapse>
      </b-list-group-item>

      <b-list-group-item v-if="showLower && showEnglish">
        Lower body workout
        <b-button v-b-toggle="'collapse-3'" variant="primary">Show me</b-button>
        <b-collapse id="collapse-3" class="mt-2">
          <b-card>
            <b-button v-b-toggle.collapse-31-inner> {{ arrayLower[0].name }} </b-button>
            <b-button v-b-toggle.collapse-32-inner> {{ arrayLower[1].name }} </b-button>
            <b-button v-b-toggle.collapse-33-inner> {{ arrayLower[2].name }} </b-button>
            <b-button v-b-toggle.collapse-34-inner> {{ arrayLower[3].name }} </b-button>
            <b-button v-b-toggle.collapse-35-inner> {{ arrayLower[4].name }} </b-button>
            <b-collapse id="collapse-31-inner" class="mt-2">
              <b-card>
                {{ arrayLower[0].name }}
                <img :src="'Images/' + arrayLower[0].image" class="image" />
              </b-card>
            </b-collapse>
            <b-collapse id="collapse-32-inner" class="mt-2">
              <b-card>
                {{ arrayLower[1].name }}
                <img :src="'Images/' + arrayLower[1].image" class="image" />
              </b-card>
            </b-collapse>
            <b-collapse id="collapse-33-inner" class="mt-2">
              <b-card>
                {{ arrayLower[2].name }}
                <img :src="'Images/' + arrayLower[2].image" class="image" />
              </b-card>
            </b-collapse>
            <b-collapse id="collapse-34-inner" class="mt-2">
              <b-card>
                {{ arrayLower[3].name }}
                <img :src="'Images/' + arrayLower[3].image" class="image" />
              </b-card>
            </b-collapse>
            <b-collapse id="collapse-35-inner" class="mt-2">
              <b-card>
                {{ arrayLower[4].name }}
                <img :src="'Images/' + arrayLower[4].image" class="image" />
              </b-card>
            </b-collapse>
          </b-card>
        </b-collapse>
      </b-list-group-item>
      <b-list-group-item v-else-if="showLower">
        Program pentru partea inferioara a trupului
        <b-button v-b-toggle="'collapse-3'" variant="primary">Arata-mi</b-button>
        <b-collapse id="collapse-3" class="mt-2">
          <b-card>
            <b-button v-b-toggle.collapse-31-inner> {{ arrayLower[0].name }} </b-button>
            <b-button v-b-toggle.collapse-32-inner> {{ arrayLower[1].name }} </b-button>
            <b-button v-b-toggle.collapse-33-inner> {{ arrayLower[2].name }} </b-button>
            <b-button v-b-toggle.collapse-34-inner> {{ arrayLower[3].name }} </b-button>
            <b-button v-b-toggle.collapse-35-inner> {{ arrayLower[4].name }} </b-button>
            <b-collapse id="collapse-31-inner" class="mt-2">
              <b-card>
                {{ arrayLower[0].name }}
                <img :src="'Images/' + arrayLower[0].image" class="image" />
              </b-card>
            </b-collapse>
            <b-collapse id="collapse-32-inner" class="mt-2">
              <b-card>
                {{ arrayLower[1].name }}
                <img :src="'Images/' + arrayLower[1].image" class="image" />
              </b-card>
            </b-collapse>
            <b-collapse id="collapse-33-inner" class="mt-2">
              <b-card>
                {{ arrayLower[2].name }}
                <img :src="'Images/' + arrayLower[2].image" class="image" />
              </b-card>
            </b-collapse>
            <b-collapse id="collapse-34-inner" class="mt-2">
              <b-card>
                {{ arrayLower[3].name }}
                <img :src="'Images/' + arrayLower[3].image" class="image" />
              </b-card>
            </b-collapse>
            <b-collapse id="collapse-35-inner" class="mt-2">
              <b-card>
                {{ arrayLower[4].name }}
                <img :src="'Images/' + arrayLower[4].image" class="image" />
              </b-card>
            </b-collapse>
          </b-card>
        </b-collapse>
      </b-list-group-item>

      <b-list-group-item v-if="showStretches && showEnglish">
        Stretches
        <b-button v-b-toggle="'collapse-4'" variant="primary">Show me</b-button>
        <b-collapse id="collapse-4" class="mt-2">
          <b-card>
            <b-button v-b-toggle.collapse-41-inner> {{ arrayStretches[0].name }} </b-button>
            <b-button v-b-toggle.collapse-42-inner> {{ arrayStretches[1].name }} </b-button>
            <b-button v-b-toggle.collapse-43-inner> {{ arrayStretches[2].name }} </b-button>
            <b-button v-b-toggle.collapse-44-inner> {{ arrayStretches[3].name }} </b-button>
            <b-button v-b-toggle.collapse-45-inner> {{ arrayStretches[4].name }} </b-button>
            <b-collapse id="collapse-41-inner" class="mt-2">
              <b-card>
                {{ arrayStretches[0].name }}
                <img :src="'Images/' + arrayStretches[0].image" class="image" />
              </b-card>
            </b-collapse>
            <b-collapse id="collapse-42-inner" class="mt-2">
              <b-card>
                {{ arrayStretches[1].name }}
                <img :src="'Images/' + arrayStretches[1].image" class="image" />
              </b-card>
            </b-collapse>
            <b-collapse id="collapse-43-inner" class="mt-2">
              <b-card>
                {{ arrayStretches[2].name }}
                <img :src="'Images/' + arrayStretches[2].image" class="image" />
              </b-card>
            </b-collapse>
            <b-collapse id="collapse-44-inner" class="mt-2">
              <b-card>
                {{ arrayStretches[3].name }}
                <img :src="'Images/' + arrayStretches[3].image" class="image" />
              </b-card>
            </b-collapse>
            <b-collapse id="collapse-45-inner" class="mt-2">
              <b-card>
                {{ arrayStretches[4].name }}
                <img :src="'Images/' + arrayStretches[4].image" class="image" />
              </b-card>
            </b-collapse>
          </b-card>
        </b-collapse>
      </b-list-group-item>
      <b-list-group-item v-else-if="showStretches">
        Intinderi
        <b-button v-b-toggle="'collapse-4'" variant="primary">Arata-mi</b-button>
        <b-collapse id="collapse-4" class="mt-2">
          <b-card>
            <b-button v-b-toggle.collapse-41-inner> {{ arrayStretches[0].name }} </b-button>
            <b-button v-b-toggle.collapse-42-inner> {{ arrayStretches[1].name }} </b-button>
            <b-button v-b-toggle.collapse-43-inner> {{ arrayStretches[2].name }} </b-button>
            <b-button v-b-toggle.collapse-44-inner> {{ arrayStretches[3].name }} </b-button>
            <b-button v-b-toggle.collapse-45-inner> {{ arrayStretches[4].name }} </b-button>
            <b-collapse id="collapse-41-inner" class="mt-2">
              <b-card>
                {{ arrayStretches[0].name }}
                <img :src="'Images/' + arrayStretches[0].image" class="image" />
              </b-card>
            </b-collapse>
            <b-collapse id="collapse-42-inner" class="mt-2">
              <b-card>
                {{ arrayStretches[1].name }}
                <img :src="'Images/' + arrayStretches[1].image" class="image" />
              </b-card>
            </b-collapse>
            <b-collapse id="collapse-43-inner" class="mt-2">
              <b-card>
                {{ arrayStretches[2].name }}
                <img :src="'Images/' + arrayStretches[2].image" class="image" />
              </b-card>
            </b-collapse>
            <b-collapse id="collapse-44-inner" class="mt-2">
              <b-card>
                {{ arrayStretches[3].name }}
                <img :src="'Images/' + arrayStretches[3].image" class="image" />
              </b-card>
            </b-collapse>
            <b-collapse id="collapse-45-inner" class="mt-2">
              <b-card>
                {{ arrayStretches[4].name }}
                <img :src="'Images/' + arrayStretches[4].image" class="image" />
              </b-card>
            </b-collapse>
          </b-card>
        </b-collapse>
      </b-list-group-item>

      <b-list-group-item v-if="showCardio && showEnglish">
        Cardio
        <b-button v-b-toggle="'collapse-5'" variant="primary">Show me</b-button>
        <b-collapse id="collapse-5" class="mt-2">
          <b-card>
            <b-button v-b-toggle.collapse-51-inner> {{ arrayCardio[0].name }} </b-button>
            <b-button v-b-toggle.collapse-52-inner> {{ arrayCardio[1].name }} </b-button>
            <b-button v-b-toggle.collapse-53-inner> {{ arrayCardio[2].name }} </b-button>
            <b-button v-b-toggle.collapse-54-inner> {{ arrayCardio[3].name }} </b-button>
            <b-button v-b-toggle.collapse-55-inner> {{ arrayCardio[4].name }} </b-button>
            <b-collapse id="collapse-51-inner" class="mt-2">
              <b-card>
                {{ arrayCardio[0].name }}
                <img :src="'Images/' + arrayCardio[0].image" class="image" />
              </b-card>
            </b-collapse>
            <b-collapse id="collapse-52-inner" class="mt-2">
              <b-card>
                {{ arrayCardio[1].name }}
                <img :src="'Images/' + arrayCardio[1].image" class="image" />
              </b-card>
            </b-collapse>
            <b-collapse id="collapse-53-inner" class="mt-2">
              <b-card>
                {{ arrayCardio[2].name }}
                <img :src="'Images/' + arrayCardio[2].image" class="image" />
              </b-card>
            </b-collapse>
            <b-collapse id="collapse-54-inner" class="mt-2">
              <b-card>
                {{ arrayCardio[3].name }}
                <img :src="'Images/' + arrayCardio[3].image" class="image" />
              </b-card>
            </b-collapse>
            <b-collapse id="collapse-55-inner" class="mt-2">
              <b-card>
                {{ arrayCardio[4].name }}
                <img :src="'Images/' + arrayCardio[4].image" class="image" />
              </b-card>
            </b-collapse>
          </b-card>
        </b-collapse>
      </b-list-group-item>
      <b-list-group-item v-else-if="showCardio">
        Cardio
        <b-button v-b-toggle="'collapse-5'" variant="primary">Arata-mi</b-button>
        <b-collapse id="collapse-5" class="mt-2">
          <b-card>
            <b-button v-b-toggle.collapse-51-inner> {{ arrayCardio[0].name }} </b-button>
            <b-button v-b-toggle.collapse-52-inner> {{ arrayCardio[1].name }} </b-button>
            <b-button v-b-toggle.collapse-53-inner> {{ arrayCardio[2].name }} </b-button>
            <b-button v-b-toggle.collapse-54-inner> {{ arrayCardio[3].name }} </b-button>
            <b-button v-b-toggle.collapse-55-inner> {{ arrayCardio[4].name }} </b-button>
            <b-collapse id="collapse-51-inner" class="mt-2">
              <b-card>
                {{ arrayCardio[0].name }}
                <img :src="'Images/' + arrayCardio[0].image" class="image" />
              </b-card>
            </b-collapse>
            <b-collapse id="collapse-52-inner" class="mt-2">
              <b-card>
                {{ arrayCardio[1].name }}
                <img :src="'Images/' + arrayCardio[1].image" class="image" />
              </b-card>
            </b-collapse>
            <b-collapse id="collapse-53-inner" class="mt-2">
              <b-card>
                {{ arrayCardio[2].name }}
                <img :src="'Images/' + arrayCardio[2].image" class="image" />
              </b-card>
            </b-collapse>
            <b-collapse id="collapse-54-inner" class="mt-2">
              <b-card>
                {{ arrayCardio[3].name }}
                <img :src="'Images/' + arrayCardio[3].image" class="image" />
              </b-card>
            </b-collapse>
            <b-collapse id="collapse-55-inner" class="mt-2">
              <b-card>
                {{ arrayCardio[4].name }}
                <img :src="'Images/' + arrayCardio[4].image" class="image" />
              </b-card>
            </b-collapse>
          </b-card>
        </b-collapse>
      </b-list-group-item>

      <b-list-group-item v-if="showYoga && showEnglish">
        Yoga poses
        <b-button v-b-toggle="'collapse-6'" variant="primary">Show me</b-button>
        <b-collapse id="collapse-6" class="mt-2">
          <b-card>
            <b-button v-b-toggle.collapse-61-inner> {{ arrayYoga[0].name }} </b-button>
            <b-button v-b-toggle.collapse-62-inner> {{ arrayYoga[1].name }} </b-button>
            <b-button v-b-toggle.collapse-63-inner> {{ arrayYoga[2].name }} </b-button>
            <b-button v-b-toggle.collapse-64-inner> {{ arrayYoga[3].name }} </b-button>
            <b-button v-b-toggle.collapse-65-inner> {{ arrayYoga[4].name }} </b-button>
            <b-collapse id="collapse-61-inner" class="mt-2">
              <b-card>
                {{ arrayYoga[0].name }}
                <img :src="'Images/' + arrayYoga[0].image" class="image" />
              </b-card>
            </b-collapse>
            <b-collapse id="collapse-62-inner" class="mt-2">
              <b-card>
                {{ arrayYoga[1].name }}
                <img :src="'Images/' + arrayYoga[1].image" class="image" />
              </b-card>
            </b-collapse>
            <b-collapse id="collapse-63-inner" class="mt-2">
              <b-card>
                {{ arrayYoga[2].name }}
                <img :src="'Images/' + arrayYoga[2].image" class="image" />
              </b-card>
            </b-collapse>
            <b-collapse id="collapse-64-inner" class="mt-2">
              <b-card>
                {{ arrayYoga[3].name }}
                <img :src="'Images/' + arrayYoga[3].image" class="image" />
              </b-card>
            </b-collapse>
            <b-collapse id="collapse-65-inner" class="mt-2">
              <b-card>
                {{ arrayYoga[4].name }}
                <img :src="'Images/' + arrayYoga[4].image" class="image" />
              </b-card>
            </b-collapse>
          </b-card>
        </b-collapse>
      </b-list-group-item>
      <b-list-group-item v-else-if="showYoga">
        Pozitii de yoga
        <b-button v-b-toggle="'collapse-6'" variant="primary">Arata-mi</b-button>
        <b-collapse id="collapse-6" class="mt-2">
          <b-card>
            <b-button v-b-toggle.collapse-61-inner> {{ arrayYoga[0].name }} </b-button>
            <b-button v-b-toggle.collapse-62-inner> {{ arrayYoga[1].name }} </b-button>
            <b-button v-b-toggle.collapse-63-inner> {{ arrayYoga[2].name }} </b-button>
            <b-button v-b-toggle.collapse-64-inner> {{ arrayYoga[3].name }} </b-button>
            <b-button v-b-toggle.collapse-65-inner> {{ arrayYoga[4].name }} </b-button>
            <b-collapse id="collapse-61-inner" class="mt-2">
              <b-card>
                {{ arrayYoga[0].name }}
                <img :src="'Images/' + arrayYoga[0].image" class="image" />
              </b-card>
            </b-collapse>
            <b-collapse id="collapse-62-inner" class="mt-2">
              <b-card>
                {{ arrayYoga[1].name }}
                <img :src="'Images/' + arrayYoga[1].image" class="image" />
              </b-card>
            </b-collapse>
            <b-collapse id="collapse-63-inner" class="mt-2">
              <b-card>
                {{ arrayYoga[2].name }}
                <img :src="'Images/' + arrayYoga[2].image" class="image" />
              </b-card>
            </b-collapse>
            <b-collapse id="collapse-64-inner" class="mt-2">
              <b-card>
                {{ arrayYoga[3].name }}
                <img :src="'Images/' + arrayYoga[3].image" class="image" />
              </b-card>
            </b-collapse>
            <b-collapse id="collapse-65-inner" class="mt-2">
              <b-card>
                {{ arrayYoga[4].name }}
                <img :src="'Images/' + arrayYoga[4].image" class="image" />
              </b-card>
            </b-collapse>
          </b-card>
        </b-collapse>
      </b-list-group-item>
    </b-list-group>
    <br>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'

export default {
  name: 'workout',
  props: {
    showEnglish: Boolean
  },
  data () {
    return {
      generated: false,
      showForm: false,
      showWorkout: false,
      showUpper: false,
      showCore: false,
      showLower: false,
      showStretches: false,
      showCardio: false,
      showYoga: false,
      arrayUpper: [],
      arrayCore: [],
      arrayLower: [],
      arrayStretches: [],
      arrayCardio: [],
      arrayYoga: [],
      formData: {
        checked: []
      }
    }
  },
  methods: {
    ...mapGetters([
      'getUpper',
      'getCore',
      'getLower',
      'getStretches',
      'getCardio',
      'getYoga'
    ]),
    toggleForm () {
      this.showForm = !this.showForm
      this.generated = true
    },
    handleSubmit () {
      this.toggleForm()
      this.showWorkout = true
      for (let index = 0; index < this.formData.checked.length; index++) {
        if (this.formData.checked[index] === 'upper') {
          this.showUpper = true
          this.arrayUpper = this.$store.getters.getUpper
        }
        if (this.formData.checked[index] === 'core') {
          this.showCore = true
          this.arrayCore = this.$store.getters.getCore
        }
        if (this.formData.checked[index] === 'lower') {
          this.showLower = true
          this.arrayLower = this.$store.getters.getLower
        }
        if (this.formData.checked[index] === 'stretches') {
          this.showStretches = true
          this.arrayStretches = this.$store.getters.getStretches
        }
        if (this.formData.checked[index] === 'cardio') {
          this.showCardio = true
          this.arrayCardio = this.$store.getters.getCardio
        }
        if (this.formData.checked[index] === 'yoga') {
          this.showYoga = true
          this.arrayYoga = this.$store.getters.getYoga
        }
      }
    }
  }
}
</script>

<style>
.description {
  text-align: left;
  padding: 30px;
}
.btn {
  margin: 5px 10px;
}
.workout-show {
  margin: 0 300px;
}
.image {
  width: 300px;
  height: 168px;
}
</style>
