.table-component
  table
    max-width: 875px
    border-collapse: collapse
    margin: auto
    
  th
    font-size: .8rem
    text-transform: uppercase
    background: #f1f1f1

  tr
    border-top: 1px solid #e6e6e6
    
  tr:hover
    background-color: #f5f8fc

  td
    font-weight: 100
  
  th, td
    padding: 1.25rem 2rem
    
  td:first-child,
  th:first-child
    text-align: left