<template>
  <div id="app">
    <div id="nav">
      <b-navbar toggleable="lg" type="dark" variant="dark">
        <b-navbar-brand href="#">
          <img src="logo.png" alt="Logo" style="width:30px;height:30px;">
        </b-navbar-brand>

        <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>

        <b-collapse id="nav-collapse" is-nav v-if="showEnglish">
          <b-navbar-nav>
            <b-nav-item><router-link to="/">
              Home
            </router-link></b-nav-item>
            <b-nav-item><router-link to="/diets">
              Meal Plan
            </router-link></b-nav-item>
            <b-nav-item><router-link to="/workout">
              Workout routine
            </router-link></b-nav-item>
          </b-navbar-nav>
          <b-navbar-nav class="ml-auto">
            <b-nav-item-dropdown text="Lang" right>
              <b-dropdown-item @click="toggleEnglish()">EN</b-dropdown-item>
              <b-dropdown-item @click="toggleRomanian()">RO</b-dropdown-item>
            </b-nav-item-dropdown>
          </b-navbar-nav>
        </b-collapse>

        <b-collapse id="nav-collapse" is-nav v-else>
          <b-navbar-nav>
            <b-nav-item><router-link to="/">
              Acasa
            </router-link></b-nav-item>
            <b-nav-item><router-link to="/diets">
              Plan culinar
            </router-link></b-nav-item>
            <b-nav-item><router-link to="/workout">
              Plan de sport
            </router-link></b-nav-item>
          </b-navbar-nav>
          <b-navbar-nav class="ml-auto">
            <b-nav-item-dropdown text="Limba" right>
              <b-dropdown-item @click="toggleEnglish()">EN</b-dropdown-item>
              <b-dropdown-item @click="toggleRomanian()">RO</b-dropdown-item>
            </b-nav-item-dropdown>
          </b-navbar-nav>
        </b-collapse>
      </b-navbar>
    </div>
    <router-view
      :showEnglish="showEnglish"
    />
  </div>
</template>

<script>
export default {
  name: 'app',
  data () {
    return {
      showEnglish: true
    }
  },
  methods: {
    toggleEnglish () {
      this.showEnglish = true
    },
    toggleRomanian () {
      this.showEnglish = false
    }
  }
}
</script>

<style lang="scss">
#app {
  margin: 0;
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
}
#nav {
  a {
    font-weight: bold;
    color: #cccccc;
    &.router-link-exact-active {
      color: #fffc00;
    }
  }
}
</style>
